.bismillah h4{
    color: rgb(228, 169, 169);
    text-align: center;
    

}
.bismillah h1{
    text-align: center;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.first-part{
    
    border: 20px solid rgb(162, 172, 168);
    border-radius: 30px;
    background-image:linear-gradient(rgb(115, 133, 133),rgb(38, 38, 165) );
    
    
}
.first{
    display: flex;
}
.half-width1{
    width: 50%;
    
    
   
    
}
.half-width2{
    width: 50%;
    padding-top: 20px;
    
    
   
    
}
.half-width3{
    width: 50%;
    
    box-shadow: 12px 12px 2px 1px rgba(76, 209, 165, 0.2);
    background-image:linear-gradient(rgb(115, 133, 133),rgb(38, 38, 165) );
    
}
.half-width4{
    width: 50%;
    background-image:linear-gradient(rgb(115, 133, 133),rgb(38, 38, 165) );
    
    
}
.half-width2 h1{
    color:rgb(195, 218, 231);
    font-size: 30px;
}
.half-width2 p{
    color: lightgoldenrodyellow;
    font-size: 20px;
    padding-left: 10px;
   
}
.half-width1 img{
    width: 300px;
    margin-left: 120px;
    padding-left: 10px;
    border-radius: 100px;

}
.half-width4 img{
    width: 300px;
    margin-left: 120px;
    padding-left: 10px;
    border-radius: 100px;

}
.second-part{
    display: flex;
    border: 20px solid rgb(162, 172, 168);
    border-radius: 30px;
    margin-top: 15px;

}
.half-width3 h1{
    text-align: center;
}
.half-width3 p{
    text-align: justify;
    font-size: 20px;
    color:cornsilk;
    
    padding-left: 10px;
}
.third-part{
  
    border: 20px solid rgb(162, 172, 168);
    border-radius: 30px;
    margin-top: 15px;
    
}
.Technical-skill{
    width: 35%;
    box-shadow: 10px 10px 50px 20px rgb(128, 128, 128);
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-image:linear-gradient(rgb(115, 133, 133),rgb(38, 38, 165) );
    border-radius: 10px;
}
.additional-skill{
    width: 35%;
    box-shadow: 10px 10px 50px 20px rgb(128, 128, 128);
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-image:linear-gradient(rgb(115, 133, 133),rgb(38, 38, 165) );
    border-radius: 10px;
}
.extra-skill{
    width: 30%;
    box-shadow: 10px 10px 50px 20px rgb(128, 128, 128);
    padding: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-image:linear-gradient(rgb(115, 133, 133),rgb(38, 38, 165) );
    border-radius: 10px;
}
.nazim{
    display: flex;
}
.Education{
    display: flex;
    

}
.fourth-part{
    border: 20px solid rgb(162, 172, 168);
    border-radius: 30px;
    margin-top: 15px;
}
.BSc{
    width: 35%;
    box-shadow: 10px 10px 50px 20px rgb(128, 128, 128);
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-image:linear-gradient(rgb(115, 133, 133),rgb(38, 38, 165) );
    border-radius: 10px;

}
.HSc{
    width: 35%;
    box-shadow: 10px 10px 50px 20px rgb(128, 128, 128);
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-image:linear-gradient(rgb(115, 133, 133),rgb(38, 38, 165) );
    border-radius: 10px;
}
.SSc{
    width: 35%;
    box-shadow: 10px 10px 50px 20px rgb(128, 128, 128);
    padding: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-image:linear-gradient(rgb(115, 133, 133),rgb(38, 38, 165) );
    border-radius: 10px;
}
.BSc h3{ 
    color: blanchedalmond;
}
.HSc h3{
    color: blanchedalmond;

}
.SSc h3{
    color: blanchedalmond;
}
.BSc h1{
    color: darkseagreen;
}
.HSc h1{
    color: darkseagreen;
}
.SSc h1{
    color: darkseagreen;
}